= devise_error_messages!
.field
  = f.label :email
  %br/
  = f.email_field :email, autofocus: true
.field
  = f.label :first_name
  = f.text_field :first_name
.field
  = f.label :last_name
  = f.text_field :last_name
