<br/><br/>
<div class="row">
  <div class="span2">
    <%= link_to new_wiki_path, :id => "new_wiki_link" do %>
      <div id="new_wiki_icon">
        <i class="icon-plus"></i>
      </div>
      New Wiki
    <% end %>
  </div>
  <div class="span10">
    <ul id="wikis">
    <% @wikis.all.each do |wiki| %>
        <li>
          <%= link_to(mounted_wiki_path(wiki.name), :class => "wiki", :id => "wiki-%{wiki}" ) do %>
            <h3><%= wiki.name %></h3>
            <p>A description of this wiki</p>
            <% wiki.users.each do |user | %>
              <div class="user" id="user-<%= user.id %>">
                <%= image_tag(gravatar_url_for(user.email), { :width => 40, :height => 40 }) %>
                <%= image_tag("/assets/user-circle-overlay.png") %>
              </div>
            <% end %>
          <% end %>
          <%= link_to '<i class="icon-trash">&nbsp;&nbsp;Delete</i>'.html_safe, wiki_path(wiki), :method => "delete", :confirm => "Are you sure? There is no undo!", :class => "delete_wiki", :id => "delete_wiki-#{wiki.name}" %>
          <%= link_to '<i class="icon-pencil">&nbsp;&nbsp;Edit</i>'.html_safe, edit_wiki_path(wiki), :class => "edit_wiki_button", :id => "edit_wiki-#{wiki.name}" %>
        </li>
    <% end %>
    </ul>
  </div>
</div>


<div id="wiki_create_dialogue">
  &nbsp;
  <a href="#" id="cancel_create_wiki_link">Cancel</a>
</div>